- name: install required packages for  Ollama
  ansible.builtin.apt:
    pkg:
      - curl
    state: present
    update_cache: yes

- name: Install Ollama
  ansible.builtin.shell: |
    curl -fsSL https://ollama.com/install.sh | sh
  become_user: ubuntu

- name: Enable and start Ollama service
  ansible.builtin.systemd:
    name: ollama
    enabled: yes
    state: restarted

- name: Install Ollama cloud models
  ansible.builtin.shell: |
    ollama pull kimi-k2:1t-cloud
    ollama pull deepseek-v3.1:671b-cloud
    ollama pull gpt-oss:120b-cloud
    # ollama pull gpt-oss:20b
    # ollama pull gemma3:12b
  become_user: ubuntu
