---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: vault-tokenreview
rules:
- apiGroups: ["authentication.k8s.io"]
  resources: ["tokenreviews"]
  verbs: ["create"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: vault-auth-binding
subjects:
- kind: ServiceAccount
  name: vault-auth
  namespace: default
roleRef:
  kind: ClusterRole
  name: vault-tokenreview
  apiGroup: rbac.authorization.k8s.io
