#cloud-config
hostname: {{ item.hostname }}
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys: {{ sha }}
apt:
  preserve_sources_list: true
  sources:
    # keyid is output from wget -qO- https://www.postgresql.org/media/keys/ACCC4CF8.asc | gpg --with-fingerprint --with-colons | awk -F: '/^fpr/ { print $10 }'
    keyid: B97B0AFCAA1A47F044F244A07FCC7D46ACCC4CF8
    source: deb https://apt.postgresql.org/pub/repos/apt noble-pgdg main
package_update: true
package_upgrade: true
packages:
- qemu-guest-agent
- postgresql-client-17
- python3-psycopg2
- python3-kubernetes
snap:
  commands:
    0: snap install microceph
    1: snap install microk8s --classic
    2: snap install kubectl --classic
runcmd:
  - usermod -aG microk8s ubuntu
  - reboot                          # required to activate qemu-guest-agent and microk8s group membership
final_message: |
  cloud-init has finished
  version: $version
  timestamp: $timestamp
  datasource: $datasource
  uptime: $uptime