[ req ]
default_bits = {{ bits }}
distinguished_name = req_distinguished_name
prompt = no

[ v3_ext ]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ item }}.local
IP.1 = {{ hostvars[item]['ansible_host'] }}
IP.2 = 127.0.0.1