network:
  version: 2
  ethernets:
    eth0:
{% if static_ip is defined %}
      dhcp4: false
      addresses:
        - "{{ static_ip }}/24"
      gateway4: {{ gateway }}
      nameservers:
        addresses:
          - {{ dns_servers[0] }}
          - {{ dns_servers[1] }}
{% else %}
      dhcp4: true
{% endif %}
