---
- name: slurp kube config from new cluster
  ansible.builtin.slurp:
    src: /home/ubuntu/.kube/config  # path on prime
  delegate_to: "{{ source_host }}"
  register: slurped_kubeconfig

- name: make sure directory exists
  ansible.builtin.file:
    path: /home/ubuntu/.kube
    state: directory

- name: copy contents to vault
  ansible.builtin.copy:
    content: "{{ slurped_kubeconfig.content | b64decode }}"
    dest: /home/ubuntu/.kube/config
  delegate_to: "{{ dest_host }}"
