---
- name: python3-kubernetes 
  ansible.builtin.apt:
    pkg: python3-kubernetes

- name: create kv-updater 
  kubernetes.core.k8s:
    state: present
    src: "{{ manifest_directory }}/{{ item }}"
  loop: "{{ kvupdater }}"

- name: create apiserver
  kubernetes.core.k8s:
    state: present
    src: "{{ manifest_directory }}/{{ item }}"
  loop: "{{ apiserver }}"

- name: correct vault address in secretcfg
  ansible.builtin.lineinfile:
    path: /home/ubuntu/repos/ansible/synced_manifests/secretcfg
    search_string: '"vault_url": "https://192.168.86.9:8200",'
    line:          '      "vault_url": "{{ vault_address }}",'

- name: create microservices apps 
  kubernetes.core.k8s:
    state: present
    src: "{{ manifest_directory }}/{{ item }}"
  loop: "{{ microservices }}"

- name: create webdisplay 
  kubernetes.core.k8s:
    state: present
    src: "{{ manifest_directory }}/{{ item }}"
  loop: "{{ webdisplay }}"
