- name: Install Vault installation prequisites 
  ansible.builtin.apt:
      pkg:
      - curl
      state: present
      update_cache: yes

- name: check if kubectl exists
  ansible.builtin.stat:
    path: /usr/local/bin/kubectl
  register: results

- name: download kubectl binary
  ansible.builtin.shell:
    cmd: |
      curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
      chmod +x kubectl
      mv kubectl /usr/local/bin/
  when: not results.stat.exists