---
- name: "Pull updates for {{ item.mod_name }} from github"
  ansible.builtin.shell:
    cmd: git pull
    chdir: /root/MagicMirror/modules/{{ item.mod_name }}

# - name: remove package-lock.json if it exists
#   ansible.builtin.file:
#     path: /root/MagicMirror/modules/{{ item.mod_name }}/package-lock.json
#     state: absent

- name: "npm install updates for {{ item.mod_name }}"
  ansible.builtin.shell:
    cmd: npm install {{ item.npm_flags }} || true
    chdir: /root/MagicMirror/modules/{{ item.mod_name }}