[ req ]
default_bits       = {{ bits }}
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = v3_ca

[ req_distinguished_name ]
C  = {{  country }}
ST = {{  state }}
L  = {{  locality }}
O  = {{  organization }}
OU = {{  organizational_unit }}
CN = {{  common_name }}

[ v3_ca ]
basicConstraints = critical,CA:TRUE
keyUsage   = critical,digitalSignature,keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always