# the-creation-of-manwe.yaml
# Provisions a Proxmox container and installs VS Code Server dependencies, CLI tools, and Git config,
# and fetches GitHub repositories

# - name: create Proxmox Container (Manwë)
#   hosts: iluvatar   # executed on Ilúvatar
#   connection: local
#   vars:
#     host_group: valar
#   roles:
#     - role: known-hosts-clear
#     - role: proxmox-provision

# # wait for the container to settle...
# - name: Wait for Container to become reachable
#   hosts: manwe
#   tags: manwe:provision
#   gather_facts: false
#   tasks:
#     - name: Wait for SSH to come up
#       ansible.builtin.wait_for_connection:
#         timeout: 300  # Adjust as needed
#         delay: 5      # Initial delay before polling
#         sleep: 5      # Time between retries
      
- name: Setup Manwë - Part 1 - Update and Install
  hosts: manwe
  tags: manwe:setup1
  become: true
  roles:
    - role: apt-update-all
    - role: apt-add-source-nodejs
    - role: apt-add-source-vault
    - role: apt-add-packages
      vars:
        packages: [ansible, build-essential, curl, git, git-filter-repo, gpg, tree, unzip, wget, 
                  python3-proxmoxer, python3-kubernetes, python3-hvac, python3-pip, python3-venv,
                  nodejs, vault]
    - role: kubernetes-kubectl-install
    - role: certificate-authority-create

- name: Setup Manwë - Part 2 - create ssh keys and git config
  hosts: manwe
  tags: manwe:setup2
  become: false
  roles:
    - role: user-ubuntu-configure
    - role: host-ssh-keys-set               # Sets ssh-keys to pre-GitHub-registered keys
    - role: git-global-configure
    - role: git-clone-repositories          # Receives the Song of Creation from Ilúvatar
    - role: book-of-creation-delivery
    - role: microservice-build-trigger-all