# the-coming-of-stormcrow.yaml
# Provisions a Proxmox container and installs MagicMirror² with Node.js and PM2
# Assumes: Vault and CA are already configured, container image is available

# #=== Create Proxmox container for MagicMirror2 ===
# - name: Create Proxmox container
#   hosts: iluvatar   # executed on Manwë
#   vars:
#     host_group: watchers
#   tags: provision
#   roles:
#     - role: known-hosts-clear
#     - role: proxmox-provision

# # wait for the container to settle...
# - name: Wait for Container to become reachable
#   hosts: gandalf
#   gather_facts: no
#   tasks:
#     - name: Wait for SSH to come up
#       ansible.builtin.wait_for_connection:
#         timeout: 300  # Adjust as needed
#         delay: 5     # Initial delay before polling
#         sleep: 5      # Time between retries

# - name: Prep host for ansible-pull
#   hosts: gandalf
#   connection: local
#   become: yes
#   tags: mm2:pull
#   roles:
#     # - role: append-authorized-keys
#     - role: git-global-configure
#     - role: git-clone-repositories
#       vars:
#         repositories:
#         - { name: ansible, repo: 'https://github.com/dekeyrej/ansible.git'}
#     - role: book-of-creation-delivery
#     - role: ansible-host-integration

      
      
# performs apt update && apt upgrade; install node.js (LTS); clones and installs MagicMirror2 and defined modules
- name: Setup MagicMirror2
  hosts: gandalf
  connection: local
  become: yes
  tags: mm2:install
  roles:
    - role: apt-add-source-nodejs
    - role: apt-update-all
    - role: apt-add-packages
      vars:
        packages: [curl, nodejs]
    - role: nodejs-pm2-install
    - role: magic-mirror-install

# # performs apt update && apt upgrade; pulls and updates MagicMirror2 and defined modules
# - name: Update MagicMirror2
#   hosts: bellman
#   tags: mm2:update
#   roles:
#     # - role: apt-update-all
#     - role: magic-mirror-update