# general ansible
ansible_user: ubuntu
ansible_python_interpreter: /usr/bin/python3
# Certificate Authority
ca_host: manwe
ca_base_path: /home/ubuntu/certificate_authority
ca_key_name: ca-certificate.key
ca_cert_name: ca-certificate.pem
# enable ceph for kubernetes
ceph_enabled: false
# HashiCorp Vault
vault_host: moria
vault_address: https://moria.local:8200
# Kubernetes API address
kubeapiaddress: https://aragorn.local:16443
# Proxmox-VE node
node: iluvatar
# use ansible-vault-keys decrypt/encrypt
api_user: joe@pve
api_token_id: default
api_token_secret: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  62303432616539343265613866666261663733373232626535366437353666353539333435353532
  3964636465333331306532353638383763326565393465650a613461656236653336343866336565
  66313037303766363435306462386261633534353536616438396335333863663235653062373236
  3731373763323966350a383563366136326236316563613761656264386435313365373764333636
  38386238633363653639303466343366366637623138333931626366323466373338653234633035
  3562343464316638623133393733616535376531666265393638
root_api_user: root@pam
bluep_api_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39376133326638323061666233323763303864613739313937653163376637393933356532306464
  6364313639643561613263333266383935396562346237340a306461356362393137656139643664
  63346564366231366131656439363266393338636165333732636431613861313730636361633633
  6333616430653839640a343331326238356333313530643833386566373132386536646264396234
  6165
bluep_root_api_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39356462323861616632393435326532656462303236353038336131623365666433343937336235
  6361353634396562306532323438343238383939343731630a343861663338383630366665303364
  36333665623030333731396230383063653063383364303464313465653865386362326364623166
  3730653430306264320a353036356563666436653162633135333132353366393432303430633033
  6661
sha:
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4x2dqrgVnZQvAD41hs2eCacSpPEzX//fbJJvWqxtjJMOn4JWtg3RkWhXgq6smILev+AQkhsul1zv2dYFZ2+bp0+FjMexJnrehjFgZTMeSznKpNf6Z2Erko/slQZI4J8siBJ1RjNy1+63XXqNGSAJF3zuleGCIaA2xVpJy+k/xf0mg055kxgpQgD0P0MR82aqztYdGgy8QlcdMKUyenjLYPoNqvMS6mi1l7jFZ3c0r/z7cy8B6O+GKdqNRk7pin7d94D0RYhD597m+ViSD5OYRzbKzWifnavRHKMUZP8t3N2zDT1vrEBL6SWwxryss/4/ZSqjncqDEdat4tZ2oNHB1 ubuntu@nenya
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDQxLlV9aMavpxLyd++1M7el4iFY3p/g8Qg4GN/0HrHkpaFgXWkl+My0x+hjaPF4lXBAAgZrHkxREn5qVtzEM7EcrYDFhQNfd1NA+Jz+gUOW8W7nP3G9kV7WSriMrspeQfx7VNENAGRkWxXe4Bm8yGlOmk4MYaycD8osZfTPWwkhFyZLY3AFbE6J0AcuntZxJPm0j+JVDOmsUVJhc7/Q5Zp2t2FFla3UzRIlSwaqAF2yayjEl6IbS4K30Zmjo8UOQHO9FOIKuXPFx8Wrlc9kqps0t72kGcj5Y9mgduMjJTA+E0cRsti9TTO3bSmVjdJ85FgKSFw+a4iKwmlonDfNxJ1 ubuntu@Rocket3
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNm5dpcIOuD9VsRu4kGaXXDJQVDiEBeOZWVudRrVikLVc9R2kyu96e0XK2r1N2X7yHlQZxX4ngECk+VUazs27LpSNnzEVVjJRqXDcRky3CdEjo/Gf8NIZIL2fvvZE3mtgjXxqjhW+yT0EaVzlxo5cyCSPoKwkXWR8XvtA9uzA4yjhV/wo4wOyktUMjDqIigXJUcfz3vpNr6PIg5pOyfUEA5VdP/uXyIhTYrMkpiJ8/uI5B61OmwUk/leQWzzCpXohB9jpIV+rq6NVt5gJmOvcmpp98Gn0EK7cWmJ+XdsK+y42eF4L3fvUYEz1VBk0cfHX3HHweia8P806Cvzuk7rKD manwe@valar
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAA/gCi3t8B3giqYqWZC9ENsyYL1/i6QwzqReb7Ihc94qXzdsMRIkY5XaenYVTfXpsAdxHqfq9guZs56F+hZODQoal0SBrd+MvbutjkEzsu54KwD4PU0WyZII1PE+cluq87US7isg/H1i8DD9YHWSTCunwDFNNgHN848H8+3PAdk5QYP81CqwSmAjtrqlAKM7LdIyjAXKV4HDCu9tHd6V6w5E+d3ovw7LyCYnD7SCL9h+Yq9evxVdRGJW8t5TQ/pT137NJryPuXPlISiwCjOgYVD2mk4uB5vZaJB49MEsMZyTD35VL+v1R2lti/GmIV8tPwOMIghC0XKTi098YhbDvP ubuntu@xps13
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDca7c3InYvJObdnDDjZo0ICRQWFqGPFKNqSBsBVWdHRAdf4/0Vzx7pCvxAhotZB1LqED3YQ6GRBXo0wl20WWv8Sbc9yVapkkyXW7uLtiUBQDGDUopwiOJ7lYL2heq2Q/Ams7k/nKRyyH0fxLimD8AXf0S93usJgYKHUGBh0st9fLQDjI7aPTUgstLxH0SNMBRkqILEKCHjBsN7WQgt1VKTCU2Idyjt3wcaTOP0rSKxpk2S9vYK+jOw64jti3ftebnnFaKrItXnttBYsaD9PuYtrtH4d+hFI5UaGgBok8+hXH7ReaiSVaKQhq9w2EKlnTda6QYYEgTyNKa1oOEJUrHkTjxVgae3ja3+cXjKUo6Y3eiXgAhx3CKKcOAVWJ+zH/GByOyCmnXPvwc5FHbJliRra02+wW965eX2G2OjRJR75ALSLfq9VoFFwD0IBVNsHSCK7ZOWUW7/OBzXveizwub+TEGD2/szwHHRoUGCG+eoubTq5nAD8bGf86uDYau+Hns= joe@Rocket3
- |
  ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDXHbi2Cs4eic4+DGk4+8qIVpt2yMnw9VKT+SAp8tw1pcmIDdy86dLX5avH1LDwUUOQQVi8IEeSGKBYZf2Xk24WHGYAd/icmA9r7iB1IGrwf743ozOutX/Uer6S8A3hU5v3felZbAvYLAZQArY8XouRja7KjXuRZdE0WkmD4CUOGmEMrd7r3SdNNyOVLVkbTC0RB0DtIRSAoQM2VX5WBzLnY1S9m543b+qqXJ25DYOBPi6ixaJJWxU3cImuvymEnVVVFJnq5YefGezOji/XNtQmocoNMKyI/00prKdWy37GsvcHhHS5VBpaWf9D1nYQz3w2xJKG7LU+cHkcFIoDH2XRxzNdk5vd1U/m80viL3ovhI/t7Wx4chv1BKN7HajQxrIK7jewafXy3XXGhpm15z6949XKh2a67+FmG/OkojYX378hCm5LqdbRPseCqQTpCb31ASvetTiM5tp4xPpYoyEN0zO6MmBy7Pr3TO1saXg6w8OgomwCiAZsrhFIVRW12lnmURMfqXlOvswZIJn4JuEOVKqxhesHZ5IJK1cggML7uImPDoQdGxun8lGfPc0MIUhDfg/2YOXGApv1gOTx91MQ7kRuaTJY/GqFFIE6XH6Ff+XSRv6QPp/5973Tek3qdxTWOQmYFGpf133egtWwUX8TOxIdnAzmieRD7HH9ot0+YQ== root@iluvatar
github_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  36313330353462306133633265343663356535313035393962643832313164646362303262316433
  3130373639393239623665343061393134663464363635660a653630333333323931613437343562
  32343038316337393231343565366165363365653963616538376166383332643337613833363663
  3361326134336137650a316265343630643864356364346133336435383361353333323835656231
  36383064383437313863303332656662636432353239383136303236343631613434343532663165
  6334323036613937653838656462393864326564333134363765
 # defaults for VMs and Containers
user: ubuntu
## distribution
os: ubuntu
release: 24
vmostype: l26
## virtual hardware specs
type: lxc
cores: 2
cpuunits: 100
cpulimit: 2
cputype: host                                         # vm only
memory: 2048
swap: 0                                               # lxc only
maxmemory: 2048                                       # vm only
## network
bridge: vmbr0
gateway: 192.168.86.1
dns_servers: 192.168.86.1 8.8.8.8
nettype: virtio                                       # vm only
netinf: "{{ nettype }},bridge={{ bridge }}"           # vm only
## root disk
diskpool: ssd_pool
rootsize: 10
scsinf: virtio-scsi-pci                               # vm only
bootdiskname: scsi0                                   # vm only
## vm options
agent: enabled=0
protection: false
## lxc options (not sure why there is not one for 'protection'?)
unprivileged: true
onboot: false
## resource pool
pool: Mirkwood
# defaults physical paths for image storage
vmimage_path: /var/lib/vz/import/
lxcimage_path: /var/lib/vz/template/cache/
# logical path for LXC templates/VM Images
template_base: local:vztmpl/
vmimport_base: local:import/
# VM and LXC images
images:
  kvm:
    ubuntu:
      24:
        baseurl: 
          https://cloud-images.ubuntu.com/releases/noble/release/ubuntu-24.04-server-cloudimg-amd64.img
        basefile: ubuntu-24.04-server-cloudimg-amd64.img
        target: ubuntu-24.04-cloudimg-amd64.qcow2
      25:
        baseurl: 
          https://cloud-images.ubuntu.com/releases/questing/release/ubuntu-25.10-server-cloudimg-amd64.img
        basefile: ubuntu-25.10-server-cloudimg-amd64.img
        target: ubuntu-25.10-cloudimg-amd64.qcow2
    debian:
      12:
        baseurl: 
          https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-genericcloud-amd64.qcow2
        basefile: debian-12-genericcloud-amd64.qcow2
        target: debian-12-generic-amd64.qcow2
      13:
        baseurl: 
          https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2
        basefile: debian-13-genericcloud-amd64.qcow2
        target: debian-13-generic-amd64.qcow2
    centos:
      9:
        baseurl: 
          https://cloud.centos.org/centos/9-stream/x86_64/images/CentOS-Stream-GenericCloud-9-latest.x86_64.qcow2
        basefile: CentOS-Stream-GenericCloud-9-latest.x86_64.qcow2
        target: centos-9-stream-latest-x86_64.qcow2
      10:
        baseurl: 
          https://cloud.centos.org/centos/10-stream/x86_64/images/CentOS-Stream-GenericCloud-10-latest.x86_64.qcow2
        basefile: CentOS-Stream-GenericCloud-10-latest.x86_64.qcow2
        target: centos-10-stream-latest-x86_64.qcow2
    amazon:
      2:
        baseurl: https://cdn.amazonlinux.com/os-images/latest/kvm/
        target: amzn2-kvm-x86_64.xfs.gpt.qcow2
      2023:
        baseurl: https://cdn.amazonlinux.com/al2023/os-images/latest/kvm/
        target: al2023-kvm-x86_64.xfs.gpt.qcow2
  lxc:
    ubuntu:
      24:
        # baseurl: https://images.linuxcontainers.org/images/ubuntu/noble/amd64/cloud/
        target: ubuntu-noble-latest-custom.tar.xz
      25:
        # baseurl: https://images.linuxcontainers.org/images/ubuntu/plucky/amd64/cloud/
        target: ubuntu-questing-latest-custom.tar.xz
    debian:
      12:
        # baseurl: https://images.linuxcontainers.org/images/debian/bookworm/amd64/cloud/
        target: debian-bookworm-latest-custom.tar.xz
      13:
        # baseurl: https://images.linuxcontainers.org/images/debian/trixie/amd64/cloud/
        target: debian-trixie-latest-custom.tar.xz
    centos:
      9:
        # baseurl: https://images.linuxcontainers.org/images/debian/bookworm/amd64/cloud/
        target: centos-9-stream-latest-custom.tar.xz
      10:  # not currently functional in proxmox-ve 9 via API (does work via PCT with 'hack')
        # baseurl: https://images.linuxcontainers.org/images/debian/trixie/amd64/cloud/
        target: centos-10-stream-latest-custom.tar.xz
## lxc gpu_access variables
gpu_access: false  # set to true if you want to enable GPU access - you'll want to check the major numbers, specifically 507.* and 510.*
gpu_config_additions:
  bluep: |
    lxc.cgroup2.devices.allow: c 195:* rwm
    lxc.cgroup2.devices.allow: c 506:* rwm
    lxc.cgroup2.devices.allow: c 509:* rwm

    lxc.mount.entry: /dev/nvidia0 dev/nvidia0 none bind,optional,create=file
    lxc.mount.entry: /dev/nvidiactl dev/nvidiactl none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-uvm dev/nvidia-uvm none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-uvm-tools dev/nvidia-uvm-tools none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-caps dev/nvidia-caps none bind,optional,create=dir
    lxc.mount.entry: /dev/nvidia-caps/nvidia-cap1 dev/nvidia-caps/nvidia-cap1 none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-caps/nvidia-cap2 dev/nvidia-caps/nvidia-cap2 none bind,optional,create=file
  iluvatar: |
    lxc.cgroup2.devices.allow: c 195:* rwm
    lxc.cgroup2.devices.allow: c 505:* rwm
    lxc.cgroup2.devices.allow: c 508:* rwm

    lxc.mount.entry: /dev/nvidia0 dev/nvidia0 none bind,optional,create=file
    lxc.mount.entry: /dev/nvidiactl dev/nvidiactl none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-uvm dev/nvidia-uvm none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-uvm-tools dev/nvidia-uvm-tools none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-caps dev/nvidia-caps none bind,optional,create=dir
    lxc.mount.entry: /dev/nvidia-caps/nvidia-cap1 dev/nvidia-caps/nvidia-cap1 none bind,optional,create=file
    lxc.mount.entry: /dev/nvidia-caps/nvidia-cap2 dev/nvidia-caps/nvidia-cap2 none bind,optional,create=file
# List of decrypted dot-paths
encrypted_keys:
- api_token_secret
- bluep_api_password
- bluep_root_api_password
- github_token
